body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: white;
    text-align: center;
}

.personajes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.personaje {
    border: 1px solid white;
    margin: 10px;
    padding: 10px;
    width: 150px;
    background-color: #2e2e2e;
    border-radius: 8px;
}

.personaje img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.vida {
    background-color: #555;
    border-radius: 5px;
    margin: 5px 0;
    height: 15px;
}

.barra {
    background-color: #0f0;
    height: 100%;
    border-radius: 5px;
    transition: width 0.5s, background-color 0.5s;

}
.estados {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

.estado {
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 0.8em;
    font-weight: bold;
    color: white;
}

/* Colores según el tipo de estado */
.estado.Agarrado { background-color: #423404; }
.estado.Apresado { background-color: #b6e702; }
.estado.Asustado { background-color: #000275; }
.estado.Aturdido { background-color: #b10ff1; }
.estado.Cansancio { background-color: #95a5a6; }
.estado.Cegado { background-color: #7c7c7c; }
.estado.Derribado { background-color: #d35400; }
.estado.Ensordecido { background-color: #16a085; }
.estado.Envenenado { background-color: #00f314; }
.estado.Hechizado { background-color: #e092ff; }
.estado.Incapacitado { background-color: #e74c3c; }
.estado.Inconsciente { background-color: #2c3e50; }
.estado.Invisible { background-color: #7f8c8d; }
.estado.Paralizado { background-color: #53ebac; }
.estado.Petrificado { background-color: #5e2500; }